@tailwind base;
@tailwind components;
@tailwind utilities;

.first .link::after {
  @apply absolute w-0 h-full bottom-0 left-0 bg-[#ffffff] transition-all ease-out duration-1000;
  content: '';
}

.first .link:hover::after {
  @apply w-full;
}
.hidden-bg {
  background-color: transparent;
  transform: translateY(-100%);
  transition: transform 1s ease-out;
  pointer-events: none;
}

.visible-bg {
  transform: translateY(0);
  transition: transform 1s ease-out;
  pointer-events: apply;
}

.visible-bg {
  background-color: #f1edee;
}
